.header {
    background: #FF460D;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
}

.headerBtn {
    display: flex;
    align-items: center;
    gap: 41px;
}

.button {
    border: none;
    background: none;
    cursor: pointer;
}

.buttonCart {
    position: relative;
}

.hiddenCart {
    display: none;
}

.btnCounter {
    position: absolute;
    width: 17px;
    color: #ffffff;
    top: -5px;
    right: -5px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #000;
}