.top-head {
    background: #f8f8f8;
}

.top-head__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
}

.top-head__heading {
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #FF460D;
}

.selectedProduct-adress {
    display: flex;
    margin-top: 96px;
    margin-bottom: 128px;
    gap: 128px;
}

.selectedProduct {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.selectedProduct__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.selectedProduct__box {
    display: flex;
    width: 652px;
    box-shadow: 17px 19px 24px 0 rgba(0, 0, 0, 0.13);
}

.selectedProduct__box-img {
    width: 262px;
}

.selectedProduct__parametrs {
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding: 22px 22px 0 31px;
    width: 330px;
}

.selectedProduct__box-top {
    display: flex;
    justify-content: space-between;
}

.selectedProduct__box-top-header {
    line-height: 28px;
    font-family: "Lato";
    font-weight: 400;
    font-size: 24px;
    color: #222;
}

.selectedProduct__box-top-btn {
    margin-top: 7px;
    cursor: pointer;
    display: flex;
    align-items: start;
    border: none;
    background: none;
}

.selectedProduct__param-box {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.selectedProduct__param-box h2 {
    font-family: "Lato";
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
}

.selectedProduct__param-box-price {
    color: #FF460D;
}

.selectedProduct__param-box-text {
    color: #6f6e6e;
}

.selectedProduct__param-box-quantity {
    display: flex;
    gap: 24px;
}

.selectedProduct__param-box-quantity-input {
    font-family: "Lato";
    font-weight: 400;
    font-size: 18px;
    color: #656565;
    width: 44px;
    height: 25px;
    border: 1px solid #eaeaea;
}

.selectedProduct__btn {
    display: flex;
    justify-content: space-between;
}

.selectedProduct__btn-format {
    border: 1px solid #a4a4a4;
    padding: 16px 40px;
    background-color: #fff;
    font-family: "Lato";
    font-weight: 300;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    transition: 0.3s;
}

.selectedProduct__btn-format:hover {
    color: #ffffff;
    background-color: #FF460D;
    transition: 0.3s;
}

.selectedProduct__emptyCart {  
    text-align: center;
    font-family: "Lato";
    font-weight: 400;
    font-size: 28px;
    color: #222;
    width: 652px;

}

.hidden__emptyCart {
    display: none;
}

.adress {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.adress__box {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.adress__box h2 {
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
    color: #222;
}

.adress__input {
    border: 1px solid #a4a4a4;
    padding: 13px 0 16px 16px;
    font-family: "Lato";
    font-weight: 400;
    font-size: 13px;
    color: #b1b1b1;
}

.adress__input::-moz-placeholder {
    font-family: "Lato";
    font-weight: 400;
    font-size: 13px;
    color: #b1b1b1;
}

.adress__input::placeholder {
    font-family: "Lato";
    font-weight: 400;
    font-size: 13px;
    color: #b1b1b1;
}

.adress__btn {
    width: 30%;
    border: 1px solid #a4a4a4;
    padding: 10px 14px;
    font-family: "Lato";
    font-weight: 300;
    font-size: 11px;
    color: #4a4a4a;
    background-color: #fff;
    cursor: pointer;
}

.adress__btn:hover {
    color: #fff;
    background-color: #FF460D;
}

.adress__price-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #f8f8f8;
    padding: 42px;
    box-sizing: border-box;
}

.adress__subPrice-box {
    display: flex;
    gap: 20px;
}

.adress__subPrice-box-text {
    font-family: "Lato";
    font-weight: 400;
    font-size: 11px;
    color: #4a4a4a;
}

.adress__totalPrice-box {
    display: flex;
    gap: 20px;
    margin-top: 12px;
    margin-bottom: 21px;
}

.adress__totalPrice-box-text {
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #222;
}

.adress__totalPrice-box-price {
    font-family: "Lato";
    color: #FF460D;
    font-weight: 700;
    font-size: 18px;
}

.adress__price-box-btn {
    padding-top: 17px;
    border-top: 1px solid #e2e2e2;
}

.adress__price-box-btn-format {
    width: 100%;
    border: 1px solid #a4a4a4;
    padding: 16px;
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
    color: #4a4a4a;
    background-color: #fff;
    cursor: pointer;
    width: 276px;
    transition: 0.3s;
}

.adress__price-box-btn-format:hover {
    color: #fff;
    background-color: #FF460D;
    border: none;
    transition: 0.3s;
}